*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SVN-Gilroy', sans-serif;

}

/* #container {
  background: #FCEED5;
  height: 100vh;
  overflow: hidden;
  border-radius: 2rem;
} */

header {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.headerleftimg {
  position: absolute;
  top: -2rem;
  left: -0.4rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  max-width: 80%;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

.navbar a {
  text-decoration: none;
  font-size: 2rem;
  color: #003459;
  font-weight: 550;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 2rem;
}

.mainsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.minorsearch {
  background: white;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;

}

.mainsearch input {
  border: none;
  padding: 1rem;
  align-items: center;
  width: 80%;
  background: transparent;
  outline: none;

}


.minorsearch img {
  padding-left: 1rem;
}

.joinbtn {
  background: #003459;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: 0.1rem solid #003459;
  font-size: 1.5rem;
  cursor: pointer;
}






/* 
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 10px;
}

.circle.active {
  background-color: #0074d9;
} */


.customer-section {

}


.lovelycustomers h4 {
  display: flex;
  font-size: 1.8rem;
  padding: 2rem 0 0.8rem;
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  color: #00171F;
}

.customer-section {
  display: flex;
  max-width: 80%;
  padding: 2rem 0;
  margin: 0 auto;
}

.pagecontrol {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  gap: 0.5rem;
}


.petmaincontainer {
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 6rem;
}

.petlineup {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

}

.petheading {
  display: flex;
  flex-direction: column;
}

.petlook {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.petheading h4 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;

}


.petlook h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #002A48;
}

.petpics {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  text-align: left;
  border-radius: 0.2rem;
  box-shadow: 0rem 0.4rem 2.8rem -0.2rem #00000014;
  border-radius: 1rem;

}

.petpics img {
  width: 100%;
  border-radius: 0.2rem;
}

.petinfo h3 {
  font-size: 1.6rem;
  color: #01131f;
  font-weight: 700;
  line-height: 2.4rem;

}

.petinfo p {
  color: #667479;
  font-size: 1.2rem;
  line-height: 1.25rem;
}

.bottomcontainer {
  width: 100%;
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding-top: 5rem;
  margin-top: 2rem;
  border-radius: 2rem;

}

.register {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background: #003459;
  padding: 3.2rem;
  gap: 2rem;
  border-radius: 1.6rem;
}

.register h1 {
  width: 40%;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

.register .sign {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.register input {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid gray;
  outline: none;
}

.register button {
  width: 20rem;
  background: #003459;
  color: white;
  border: none;
  border-radius: 0.8rem;
  padding: 1.4rem 2.8rem 1rem;
  cursor: pointer;
}

.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 4rem;
  height: 25vh;
  border-bottom: 1px solid gray;
}

.medialinks {
  display: flex;
  gap: 6rem;

}

.medialink a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #00171F;
  margin: 1.8rem;
}

.mediaimg {
  display: flex;
  align-items: center;
  gap: 4rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 2rem 0;

}

.footerlink {
  display: flex;
  gap: 3rem;
}

footer p {
  font-weight: 500;
  font-size: 1.4rem;
  color: #667479;
}

.footerlink a {
  text-decoration: none;
  color: #667479;
  font-weight: 500;
  font-size: 1.4rem;
} 








































@media (max-width: 768px) {

  .navbar ul,
  .mainsearch input,
  .dropdown,
  .joinbtn {
    display: none;
  }

  .hamburger {
    display: block;
  }
}