*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;

}
#container {
    background: #FCEED5;
    height: 100vh; 
}

header {
    max-width: 100%;
}

.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 2rem 0;
    /* padding: 2.8rem 13rem; */
    max-width: 80%;
    background: red;margin: 0 auto;
    

    /*
    width: Fixed (1, 440px) height: Hug (100px) padding: 28 130 28 130 justify: space-between
    */
}

.hamburger {
    display: none;
}

.navbar a{
    text-decoration: none;
    font-size: 2rem;
    color: #003459;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
}

.mainsearch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.minorsearch {
    background: white;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    
}

.mainsearch input {
    border: none;
    padding: 1rem;
    align-items: center;
    width: 80%;
    background: transparent;
    outline: none;

}

/* .mainsearch input:active{
    background: gray;
} */

.minorsearch img {
    padding-left: 1rem;
}

.joinbtn {
    background: #003459;
    color: white;
    padding: 1rem;
    border-radius: 10rem;
    border: none;
    font-size: 1.5rem;
}



@media (max-width: 768px) {
    .navbar ul, .mainsearch input, .dropdown, .joinbtn {
        display: none;
    }
        .hamburger {
            display: block;
        }
}